* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  background: radial-gradient(
      ellipse at center,
      rgba(127, 0, 173, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
  z-index: -5;
  color: white;
  overflow: hidden;
  font-family: "Monoton", monospace;
  /* font-size: 2em; */
}

.heading-and-body-cont {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.program-title {
  text-align: center;
  font-size: 3rem;
}

.program-body {
  display: flex;
  gap: 10%;
  width: 80%;
  align-self: center;
  justify-self: center;
}

.scores-sec-and-refreshBtn {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  padding: 10px;
}

.score-heading-and-refreshBtn {
  display: flex;
  justify-content: space-between;
}

.scores-container {
  border: 3px black solid;
  height: 35vh;
}

.input-area-add-title {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  padding: 10px;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-score {
  display: flex;
  align-self: flex-end;
}

button {
  padding: 10px;
  text-align: center;
  border-radius: 25px;
}

input {
  height: 50px;
  border: none;
  border-bottom: 2px black solid;
  padding: 5px;
  opacity: 50%;
  background-color: rgb(226, 43, 122);
  color: #fff;
  font-size: large;
}
